<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title> {{ title }} </title>
<style type="text/css">
body {
    font-family: Sans;
    font-size: 10pt;
}
td,th {
    height: 10pt;
    text-align: left;
    padding: .25em;
    padding-right: .5em;
}
th.graphname {
    width: 10em;
}
th.host {
    width: 5em;
}
th.arcs {
    width: 5em;
}
table {
    margin-left: auto;
    margin-right: auto;
}
tr {
    background-color: #f0f0f0;
}
tr.alt {
    background-color: #e0e0e0;
}
</style>
</head>
<body>
<table>
    <th class="graphname">Graph Name</th><th class="host">Host</th><th class="arcs">Arcs</th><th class="arcs">RSS</th><th class="arcs">Virt</th>
    {% set i = 0 %}
    {% for graph in graphs %}
        {% if i is even %}
        <tr>
        {% else %}
        <tr class="alt">
        {% endif %}
            <td>{{ graph.name }}</td><td>{{ graph.host }}</td>
            <td id="arccount_{{ graph.name }}"></td>
            <td id="rss_{{ graph.name }}"></td>
            <td id="virt_{{ graph.name }}"></td>
        </tr>
    {% set i = i+1 %}
    {% endfor %}
</table>
<script>
function updateRow(graphname, name, value) {
    document.getElementById(name + '_' + graphname).innerHTML= value;
};
</script>
{% set i = 0 %}
<script type="text/javascript">
{% for u in updates %}
    {% if u.status is defined %}
        {% for v in u.status.content %}
            updateRow('{{ u.status.graph }}', '{{ v }}', '{{ u.status.content[v] }}');
        {% endfor %}
    {% endif %}
    {% if i is divisibleby(3) %}
</script>
<script type="text/javascript">
    {% endif %}
    {% set i = i+1 %}
{% endfor %}
</script>

{% for script in scripts %}
<script>{{ script|safe }}</script>
{% endfor %}
</body>
</html>
